#maindiv{
  overflow: hidden;
  white-space: nowrap;
  content:url(marquee.jpg);
  height: 100%;
  margin:0;
}

div.image {
   content:url(marquee.jpg);
   height: 100%;
   margin:0;
}​


@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
